/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
 /**/
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
 /**/
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

  /*Disable Animation on Mobile Devices*/
  .animated {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;

  }

  /* HEADER */
  .header-text h1 {
    font-size: 2.45em;
  }

  .header-text p {
    font-size: 1.6em;
  }
  /* .HEADER */

  /* ABOUT */
  #about img {
    width: 65%;
    margin-bottom: 50px;
  }

  .about-text-wrap {
    text-align: center;
  }
  /* .ABOUT */

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

  /* HEADER */
  .header-text h1 {
    font-size: 1.8em;
    padding: 15px 20px
  }
  .header-text p {
    font-size: 1.1em;
  }
  .header-link a {
    font-size: 0.7em;
  }
  /* .HEADER */

  /* ABOUT */
  #about h3 {
    font-size: 20px;
  }

  #about ul {
    font-size: 18px;
  }

  #about ul {
    font-size: 18px;
  }
  /* .ABOUT */


}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
 /**/
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
 /**/
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
/**/
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
 /**/
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
 /**/
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
 /**/
}